body,
h2,
form {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

h3 {
    text-align: right;
    font-weight: normal;
    font-size: 14px;
}

p {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: left;
}

/* Background and alignment of the login container */
.login-container {
    background-color: #f2f2f2;
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Styling form elements */
.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 12px 24px;
    background-color: black;
    color: white;
    /* Default text color */
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    border: none;
    cursor: pointer;
    z-index: 2;
    /* Ensure text layer is above the pseudo-element */
    transition: background-color 0.3s, color 0.3s;
    /* Add color transition for smoother effect */
}

button:hover {
    color: white;
    /* Change text color to white on hover for visibility */
    background-color: black;
    /* Background turns black on hover */
}

button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: white;
    /* White effect on hover */
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.75s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.4s;
    opacity: 0;
    z-index: 1;
    /* Lower than the text layer, but still visible */
}

button:hover::before {
    opacity: 0.5;
    /* Adjust opacity to not fully obscure text */
    transform: translate(-50%, -50%) scale(1.2);
}

.subject-checkboxes div {
    display: inline-block;
    margin-right: 20px;
    /* Adjust as needed */
}

.right-list {
    position: absolute;
    top: 0;
    right: 0;
    /* Align to the right side */
    width: 200px;
    /* adjust width as needed */
    height: 100vh;
    /* fill the entire viewport height */
}

.black-list {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    padding: 10px;
    height: 100%;
    /* fill the entire parent container's height */
}

.right-list:hover .black-list {
    display: block;
}

.right-list-trigger {
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
}

.right-list-trigger:hover+.black-list {
    display: block;
}


.button-primary {
    padding: 8px 16px;
    background: transparent;
    color: black;
    font-size: 14px;
    font-weight: light;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
    /* Include transform in the transition */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: auto;
    display: inline-block;
    margin-top: 20px;
    padding-block: 1%;
    padding-inline: 3%;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    text-decoration: none;
}

.button-primary:hover {
    background: black;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 10px;
}

.signup-text {
    text-align: center;
    margin-top: 20px;
}

.signup-text a {
    color: #0056b3;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

/* New styles for additional elements */
.error-message {
    color: red;
    font-size: 0.8em;
    /* Smaller text size for error messages */
}

.success-message {
    color: green;
    font-size: 0.8em;
}

/* Additional styles for different input types such as checkboxes or radio buttons */
.input-group input[type="checkbox"],
.input-group input[type="radio"] {
    width: auto;
    /* Override the width for these types of inputs */
    margin-right: 10px;
}

/* Style adjustments for select dropdown */
.input-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: black;
}

/* Responsive adjustments */
@media (max-width: 600px) {

    .login-container,
    .register-container {
        width: 95%;
        margin: 20px auto;
    }
}


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.content-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}

.register-container,
.login-container {
    background-color: #f2f2f2;
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.change-password-container {
    background-color: #f2f2f2;
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.background-video {
    position: relative;
    min-height: 100vh;
    /* Minimum height of viewport */
    display: flex;
    flex-direction: column;
    /* Stacks children vertically */
    justify-content: space-between;
    /* Aligns children to each end */
}

#video-bg {
    flex-grow: 1;
    /* Allows the video to fill all available space */
    width: 100%;
    object-fit: cover;
    /* Ensures video covers the area without distortion */
    z-index: -1;
    /* Places video behind the content */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f0f0f0;
    /* Subtle background color for visibility */
}

header {
    position: absolute;
    top: 10px;
    left: 0;
    /* Aligns the logo absolutely to the left */
    right: 10px;
    /* Ensures spacing on the right for other elements */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    /* Ensures the header content is above the video */
}

img {
    height: 80px;
    /* Increased height for a larger logo */
    width: auto;
    /* Auto width to maintain aspect ratio based on height */
}

.button-primary {
    padding: 10px 20px;
}

.content {
    /* Styles for your content */
    position: relative;
    z-index: 1;
}


.homepage {
    position: relative;
    /* This makes it a reference point for absolutely positioned children */
    width: 100%;
    /* Full width */
    height: 100vh;
    /* Full viewport height, adjust as needed */
    /* Other styling as needed */
}

.top-right-image {
    position: absolute;
    /* Position the image absolutely within its relative parent */
    top: 0;
    /* Align top edge */
    right: 0;
    /* Align right edge */
    width: 100px;
    /* Set the image width, adjust as needed */
    height: auto;
    /* Maintain aspect ratio */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f0f0f0;
    /* Subtle background color for visibility */
}

#about,
#contact {

    *,
    *:before,
    *:after {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        background: linear-gradient(to right, #ea1d6f 0%, #eb466b 100%);
        font-size: 12px;
    }

    body,
    button,
    input {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        letter-spacing: 1.4px;
    }

    .background {
        display: flex;
        min-height: 100vh;
    }

    .container {
        flex: 0 1 700px;
        margin: auto;
        padding: 10px;
    }

    .screen {
        position: relative;
        background: #3e3e3e;
        border-radius: 15px;
    }

    .screen:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 20px;
        right: 20px;
        bottom: 0;
        border-radius: 15px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
        z-index: -1;
    }

    .screen-header {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        background: #4d4d4f;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .screen-header-left {
        margin-right: auto;
    }

    .screen-header-button {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-right: 3px;
        border-radius: 8px;
        background: white;
    }

    .screen-header-button.close {
        background: #ed1c6f;
    }

    .screen-header-button.maximize {
        background: #e8e925;
    }

    .screen-header-button.minimize {
        background: #74c54f;
    }

    .screen-header-right {
        display: flex;
    }

    .screen-header-ellipsis {
        width: 3px;
        height: 3px;
        margin-left: 2px;
        border-radius: 8px;
        background: #999;
    }

    .screen-body {
        display: flex;
    }

    .screen-body-item {
        flex: 1;
        padding: 50px;
    }

    .screen-body-item.left {
        display: flex;
        flex-direction: column;
    }

    .app-title {
        display: flex;
        flex-direction: column;
        position: relative;
        color: #ea1d6f;
        font-size: 26px;
    }

    .app-title:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 25px;
        height: 4px;
        background: #ea1d6f;
    }

    .app-contact {
        margin-top: auto;
        font-size: 8px;
        color: #888;
    }

    .app-form-group {
        margin-bottom: 15px;
    }

    .app-form-group.message {
        margin-top: 40px;
    }

    .app-form-group.buttons {
        margin-bottom: 0;
        text-align: right;
    }

    .app-form-control {
        width: 100%;
        padding: 10px 0;
        background: none;
        border: none;
        border-bottom: 1px solid #666;
        color: #ddd;
        font-size: 14px;
        text-transform: uppercase;
        outline: none;
        transition: border-color .2s;
    }

    .app-form-control::placeholder {
        color: #666;
    }

    .app-form-control:focus {
        border-bottom-color: #ddd;
    }

    .app-form-button {
        background: none;
        border: none;
        color: #ea1d6f;
        font-size: 14px;
        cursor: pointer;
        outline: none;
    }

    .app-form-button:hover {
        color: #b9134f;
    }

    .credits {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        color: #ffa4bd;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 16px;
        font-weight: normal;
    }

    .credits-link {
        display: flex;
        align-items: center;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
    }

    .dribbble {
        width: 20px;
        height: 20px;
        margin: 0 5px;
    }

    @media screen and (max-width: 520px) {
        .screen-body {
            flex-direction: column;
        }

        .screen-body-item.left {
            margin-bottom: 30px;
        }

        .app-title {
            flex-direction: row;
        }

        .app-title span {
            margin-right: 12px;
        }

        .app-title:after {
            display: none;
        }
    }

    @media screen and (max-width: 600px) {
        .screen-body {
            padding: 40px;
        }

        .screen-body-item {
            padding: 0;
        }
    }

}



#about {
    background: '#fff';
}

#contact {
    background: '#f0f0f0';
}

#about ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

#about li {
    width: 10rem;
    text-align: center;
}

#about li img {
    height: 4rem;
    width: 6rem;
    object-fit: cover;
}

#about li h3 {
    margin: 0.5rem 0;
}

#about li p {
    font-size: 0.9rem;
}

@media (max-width: 600px) {
    .button-primary {
        margin: 0 8px;
    }
}


.content-sections section {
    margin: 20px auto;
    padding: 20px;
    background: #f0f0f0;
    /* Light grey background for each section */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    /* Ensures content doesn't stretch too wide */
}

.content-sections section h2 {
    color: #0056b3;
    /* Theme color for headings */
}

.content-sections section p {
    color: #333;
    /* Dark grey color for text for better readability */
    line-height: 1.6;
    /* Improves readability */
}

.button-primary {
    padding: 8px 16px;
    background: transparent;
    color: black;
    font-size: 14px;
    font-weight: light;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: auto;
    display: inline-block;
    /* Ensure it behaves like a button */
    margin-top: 20px;
    text-align: center;
    /* Center the text */
    text-decoration: none;
    /* Remove default link underlining */
    border: none;
    /* Remove borders */
    margin-left: 20px;
    margin-right: 20px;
}

.button-primary:hover {
    background: black;
    color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}


.button-primary2 {
    padding: 8px 16px;
    background: black;
    color: white;
    font-size: 14px;
    font-weight: light;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: auto;
    display: inline-block;
    /* Ensure it behaves like a button */
    margin-top: 20px;
    text-align: center;
    /* Center the text */
    text-decoration: none;
    /* Remove default link underlining */
    border: none;
    /* Remove borders */
    margin-left: 20px;
    margin-right: 20px;
}

.button-primary2:hover {
    background: rgba(169, 169, 169, 0.5);
    /* Grey with some transparency */
    color: black;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

footer {
    margin-top: 20px;
}

.admin-dashboard {
    display: flex;
    min-height: 100vh;
}

.Donor-dashboard {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.sidebar-button,
.sidebar a {
    background: transparent;
    color: white;
    display: block;
    width: calc(100% - 40px);
    padding: 10px 20px;
    margin: 5px 0;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.sidebar-button:hover,
.sidebar a:hover {
    background-color: #555;
    color: #fff;
}

.sidebar ul ul a {
    font-size: 0.9em;
    padding-left: 30px;
}

.sidebar ul ul a,
.sidebar-button {
    line-height: 1.5;
    vertical-align: middle;
}

.sidebar h3 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar ul li ul {
    padding-left: 20px;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
}

.sidebar-button {
    background: transparent;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    width: auto;
    display: block;
    text-align: center;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    align-self: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.sidebar-button:hover {
    background: black;
    color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
}

#progress {
    position: fixed;
    top: 20px;
    left: 20px;
    transform: rotate(-90deg);
}

.progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;
    background: var(--accent);
    bottom: 100px;
}

.parallax {
    overflow: hidden;
    letter-spacing: -2px;
    line-height: 0.8;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
}

.parallax .scroller {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 64px;
    display: flex;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
}

.parallax span {
    display: block;
    margin-right: 30px;
}

.button-Orgprimary {
    padding: 12px 24px;
    background: transparent;
    color: black;
    font-size: 20px;
    font-weight: light;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0);
    width: auto;
    display: inline-block;
    width: auto;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding-block: 1%;
    padding-inline: 3%;
    position: relative;
    text-decoration: none;
    text-shadow: none;
}

.button-Orgprimary:hover {
    background: white;
    color: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    transform: translateY(-5px);
}

.dropdown {
    padding: 8px 8px;
    background: transparent;
    color: black;
    font-size: 14px;
    font-weight: light;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
    box-shadow: none;
    /* Remove the shadow */
    width: auto;
    display: inline-block;
    margin-top: 20px;
    padding-block: 1%;
    padding-inline: 3%;
    margin-left: 0px;
    margin-right: 2000px;
    position: relative;
    text-decoration: none;
}


.button-Orgprimary:hover .dropdown {
    display: block;
}

.contentt {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    background-color: #f9f9f9;
    flex-grow: 1;
}

.text-content {
    flex: 1;
    margin-right: 20px;
}

.chart-container {
    width: 40%;
    max-width: 600px;
    flex: auto;
}

.review-org-sub header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
}

.review-org-sub table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.review-org-sub th,
.review-org-sub td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.review-org-sub th {
    background-color: #bcb6b6;
}

.review-org-sub button {
    margin-right: 5px;
}

.review-org-sub {
    padding: 20px;
    background-color: #f9f9f9;
}

.review-org-sub header {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

th {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
}

tr:hover {
    background-color: #f1f1f1;
}

button {
    width: 100%;
    height: 100%;
    padding: 4px 0;
    border: none;
    border-radius: 4px;
    background-color: #eee;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    line-height: normal;
}

button:hover {
    opacity: 0.9;
    box-shadow: 0px 1px 3px #666;
}

button.edit {
    background-color: #ffc107;
}

button.approve {
    background-color: #28a745;
}

button.delete {
    background-color: #dc3545;
}

button.view {
    background-color: #d425ab;
}

button.download {
    background-color: #f58abe;
}

@media (max-width: 768px) {

    th,
    td {
        padding: 4px;
    }
}

.page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.product-tile {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 250px;
    margin: 10px;
}

.product-image {
    width: 100%;
    height: auto;
}

.product-info {
    padding: 10px;
}

.product-title {
    margin-top: 0;
}

.product-description {
    margin-bottom: 10px;
    text-align: center;
}

.product-price {
    font-weight: bold;
    color: #007bff; /* or any other color you prefer */
}

.add-to-cart {
    background-color: #007bff; /* or any other color you prefer */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #0056b3; /* Darker shade of the primary color */
}

.page-containerr {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .category-buttons {
    margin-bottom: 20px;
  }
  
  .category-buttons button {
    margin-right: 10px;
    padding: 8px 12px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .category-buttons button:hover {
    background-color: #0056b3;
  }
  
  .request-tile {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .request-tile h3 {
    margin-top: 0;
  }
  
  .request-tile p {
    margin-bottom: 5px;
  }
  
  .request-tile button {
    padding: 8px 12px;
    font-size: 14px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .request-tile button:hover {
    background-color: #218838;
  }
  


  .shopping-page {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .mainm {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .productm {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: 200px;
  }
  
  .productm img {
    width: 100%;
    border-radius: 5px;
  }
  
  .productm h2 {
    margin-top: 10px;
  }
  
  .productm p {
    color: #666;
  }
  
  .button3 {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; 
    font-size: 14px;
    height: auto;


  }
  
  .button3:hover {
    background-color: #555;
  }

  .delivery-section {
    margin-top: 20px;
  }
  
  .dropdown4 {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .dropdown4:focus {
    outline: none;
    border-color: #333;
  }
  
  /* Style for the selected option */
  .dropdown4 option:checked {
    background-color: #333;
    color: #fff;
  }