body,
h2,
form {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

h3 {
    text-align: right;
    font-weight: normal;
    font-size: 14px;
}

p {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: left;
}

/* Background and alignment of the login container */
.login-container {
    background-color: #f2f2f2;
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Styling form elements */
.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 12px 24px;
    background-color: black;
    color: white;
    /* Default text color */
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    border: none;
    cursor: pointer;
    z-index: 2;
    /* Ensure text layer is above the pseudo-element */
    transition: background-color 0.3s, color 0.3s;
    /* Add color transition for smoother effect */
}

button:hover {
    color: white;
    /* Change text color to white on hover for visibility */
    background-color: black;
    /* Background turns black on hover */
}

button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: white;
    /* White effect on hover */
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.75s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.4s;
    opacity: 0;
    z-index: 1;
    /* Lower than the text layer, but still visible */
}

button:hover::before {
    opacity: 0.5;
    /* Adjust opacity to not fully obscure text */
    transform: translate(-50%, -50%) scale(1.2);
}


.button-primary {
    padding: 8px 16px;
    /* Adjust padding as needed to influence the overall shape */
    background: transparent;
    /* Button background color */
    color: black;
    /* Text color for contrast */
    font-size: 14px;
    /* Font size for readability */
    font-weight: light;
    /* Font weight for text emphasis */
    border-radius: 20px;
    /* Increased border-radius to create an oval shape */
    cursor: pointer;
    /* Cursor indication for interactivity */
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    /* Smooth transition effects */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
    width: auto;
    /* Width automatically adjusts to content */
    display: inline-block;
    /* Display type to allow for text alignment */
    margin-top: 20px;
    /* Top margin to provide spacing from adjacent content */
    padding-block: 1%;
    /* Vertical padding */
    padding-inline: 3%;
    /* Horizontal padding for more width, influencing oval shape */
}

.button-primary:hover {
    background: #ebff00;
    color: black;
    box-shadow: 0 3px 6px rgba(218, 165, 32, 0.4);
    border-color: #ebff00;
    /* Border color transitions to match the background on hover */
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* Adjust this line if you need top, bottom alignment */
    height: 100vh;
    width: 100%;
    padding: 10px;
}

.signup-text {
    text-align: center;
    margin-top: 20px;
}

.signup-text a {
    color: #0056b3;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

/* New styles for additional elements */
.error-message {
    color: red;
    font-size: 0.8em;
    /* Smaller text size for error messages */
}

.success-message {
    color: green;
    font-size: 0.8em;
}

/* Additional styles for different input types such as checkboxes or radio buttons */
.input-group input[type="checkbox"],
.input-group input[type="radio"] {
    width: auto;
    /* Override the width for these types of inputs */
    margin-right: 10px;
}

/* Style adjustments for select dropdown */
.input-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: black;
}

/* Responsive adjustments */
@media (max-width: 600px) {

    .login-container,
    .register-container {
        width: 95%;
        margin: 20px auto;
    }
}


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.content-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}

.register-container,
.login-container {
    background-color: #f2f2f2;
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.change-password-container {
    background-color: #f2f2f2;
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.background-video {
    position: relative;
    min-height: 100vh;
    /* Minimum height of viewport */
    display: flex;
    flex-direction: column;
    /* Stacks children vertically */
    justify-content: space-between;
    /* Aligns children to each end */
}

#video-bg {
    flex-grow: 1;
    /* Allows the video to fill all available space */
    width: 100%;
    object-fit: cover;
    /* Ensures video covers the area without distortion */
    z-index: -1;
    /* Places video behind the content */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f0f0f0;
    /* Subtle background color for visibility */
}

header {
    position: absolute;
    top: 10px;
    left: 0;
    /* Aligns the logo absolutely to the left */
    right: 10px;
    /* Ensures spacing on the right for other elements */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    /* Ensures the header content is above the video */
}

img {
    height: 80px;
    /* Increased height for a larger logo */
    width: auto;
    /* Auto width to maintain aspect ratio based on height */
}

.button-primary {
    padding: 10px 20px;
}

.content {
    /* Styles for your content */
    position: relative;
    z-index: 1;
}


.homepage {
    position: relative;
    /* This makes it a reference point for absolutely positioned children */
    width: 100%;
    /* Full width */
    height: 100vh;
    /* Full viewport height, adjust as needed */
    /* Other styling as needed */
}

.top-right-image {
    position: absolute;
    /* Position the image absolutely within its relative parent */
    top: 0;
    /* Align top edge */
    right: 0;
    /* Align right edge */
    width: 100px;
    /* Set the image width, adjust as needed */
    height: auto;
    /* Maintain aspect ratio */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f0f0f0;
    /* Subtle background color for visibility */
}